{% extends "8-index.html" %}
{% block states %}
{% for o in s|sort(attribute='name') %}
<LI>{{ o.name }}
        <UL>
                {% for c in o.cities|sort(attribute='name') %}
                <LI>{{ c.name }}</LI>
                {% endfor %}
        </UL>
</LI>
{% endfor %}
{% endblock %}
{% block amenities %}
{% for o in a|sort(attribute='name') %}
<LI>{{ o.name }}</LI>
{% endfor %}
{% endblock %}
<h1>Places</h1>
{% block places %}
{% for o in p|sort(attribute='name') %}
<article>
	<div class="headline">
		<H2>{{ o.name }}</H2>
		<div class="price_by_night">{{ o.price_by_night }}</div>
	</div>
	<div class="information">
		<div class="max_guest">
			<div class="guest_icon"></div>
			<p>{{ o.max_guest }} Guests</p>
		</div>
		<div class="number_rooms">
			<div class="bed_icon"></div>
			<p>{{ o.number_rooms }} Bedroom</p>
		</div>
		<div class="number_bathrooms">
			<div class="bath_icon"></div>
			<p>{{ o.number_bathrooms }} Bathroom</p>
		</div>
	</div>
	{% for u in u %}
	{% if u.id == o.user_id %}
	<div class="user"><B>Owner:</B> {{ u.first_name }} {{ u.last_name }}</div>
	{% endif %}
	{% endfor %}
	<div class="
		    description">{{ o.description }}</div>
</article>
{% endfor %}
{% endblock %}
